@media (min-width: 641px) {
    #discover-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .place-card img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }
}

@media (min-width: 1025px) {
    #discover-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
